{% extends 'base.html' %}
{% load static %}
{% load ratings %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}

{% block content %}

<h2 class="heading my-2">Leave a Review</h2>
<div class="row my-md-5 mx-lg-4">
  <div class="col-12 col-md-6 mb-2">
    <div class="form-control center pb-0">
      {% ratings product icon_height=24 icon_width=24 template_name='review_widget.html' %}
    </div>
    <form method="POST" action="{% url 'review' product.id %}" class="my-2" id="review-form">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="hidden" name="review_product" value="{{ product.id }}">
      <input type="hidden" name="user" value="{{ user.id }}">
      <button class="btn btn-success w-25 float-end">Submit</button>
    </form>
  </div>
  <div class="col-12 col-md-6 my-2 order-lg-first">
    <img src="/media/{{ product.image }}" class=" mb-4 w-100" alt="Product Image">
    <div class="bg-white rounded p-2">
      <h2 class="my-2">{{ product.name }}</h2>
      {% ratings product read_only=True icon_height=16 icon_width=16 %}
      <p>{{ product.description }}</p>
    </div>
  </div>
</div>


{% endblock %}

{% block postload_js %}
{{ block.super }}
<script type="text/javascript">
  $(document).ready(function() {
    let firstCounter = $('.review-counter')[0];
    $(firstCounter).hide();
  })
</script>
{% endblock %}