{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
    <div id="homepage-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-pause="hover">
      <div class="carousel-inner">
        <div class="carousel-item active position-relative" data-bs-interval="5000">
          <img src="{{ MEDIA_URL }}about.webp" class="d-block w-100" alt="About Us">
          <h2 id="about-text">Fresh coffee roasted daily, in the heart of the city</h2>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="{{ MEDIA_URL }}seasonal.webp" class="d-block w-100" alt="Seasonal Blends">
          <h2 id="seasonal-text">Seasonal Blends</h2>
          <a href="{% url 'products' %}?sort=seasonal" class="stretched-link"></a>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="{{ MEDIA_URL }}gift-sets.webp" class="d-block w-100" alt="Gift Sets">
          <h2 id="ribbon">gift sets</h2>
          <h2 id="gift-text">Gift Sets</h2>
          <a href="{% url 'products' %}?sort=bundle" class="stretched-link"></a>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#homepage-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#homepage-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
  <div class="row mt-5">
    <figure class="col-12 col-lg-4 position-relative">
      <img src="{{ MEDIA_URL }}our-coffee.webp" alt="Our Coffee">
      <h2>Our Coffee</h2>
      <a href="{% url 'products' %}?sort=coffee" class="stretched-link"></a>
    </figure>
    <figure class="col-12 col-lg-4 position-relative">
      <img src="{{ MEDIA_URL }}our-community.webp" alt="Our Community">
      <h2>Our Community</h2>
      <a href="{% url 'posts' %}" class="stretched-link"></a>
    </figure>
    <figure class="col-12 col-lg-4 position-relative">
      <img src="{{ MEDIA_URL }}wholesale.webp" alt="Wholesale">
      <h2>Wholesale</h2>
      <a href="{% url 'contact' %}" class="stretched-link"></a>
    </figure>
  </div>
</div>
{% endblock %}