/* -------------------- General  -------------------- */

html {
    min-height: 100%;
    box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.2);
}

body {
    background: url("../media/background.jpg") center center/cover repeat;
    font-family: "Cabin", sans-serif;
}

.center {
    text-align: center;
}

/* -------------------- Header  -------------------- */

header {
    background-color: rgba(108, 78, 49, .9);
    color: #fff;
}

header .fixed-top {
    position: relative;
}

.navbar-brand {
    font-size: 1.5em;
}

.navbar-brand, .nav-link,
.fa-solid {
    font-family: "Cabin Sketch", sans-serif;
    color: #fff;
}

#side-buttons {
    position: absolute;
    right: 0;
    top: 12px;
}

#searchbox {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main {
    margin-top: 100px;
}

/* -------------------- Homepage  -------------------- */

figure > img {
    width: 100%;
    height: 100%;
}

figure > h2 {
    font-family: "Cabin Sketch", sans-serif;
    color: #fff;
    background-color: #000;
    text-align: center;
    width: 93%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}


/* -------------------- Footer  -------------------- */

footer {
    background-color: #000;
}

footer a {
    color: #FFF;
}

.footer-links {
    list-style: none;
    font-size: 0.75em;
}

.social-links a {
    margin: 0 5px;
}

/* ------------------------------------------------ Desktop Styles ------------------------------------------------ */

@media(min-width: 992px) {
    #searchbox {
        margin-top: .75rem;
        margin-bottom: 0;
        width: 25%;
        position: absolute;
        top: 0;
        right: 8vw;
    }
}