/* -------------------- General  -------------------- */

.center {
    text-align: center;
}

/* -------------------- Header  -------------------- */

#links, #searchbox {
    position: absolute;
    top: 8vh;
    z-index: 1;
}

#searchbox {
    width: 100%;
}

/* -------------------- Footer  -------------------- */

footer a {
    color: #000;
}

.footer-links {
    list-style: none;
    font-size: 0.75em;
}

.social-links a {
    margin: 0 5px;
}

/* ------------------------------------------------ Desktop Styles ------------------------------------------------ */

@media(min-width: 992px) {
    #links, #searchbox {
        position: relative;
        top: auto
    }

    #searchbox {
        width: 25%;
    }
}