/* -------------------- General  -------------------- */

html {
    min-height: 100%;
    box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.2);
}

body {
    background: url("background.webp") center center/contain repeat;
    font-family: "Cabin", sans-serif;
}

.center {
    text-align: center;
}

.heading,
.heading>a {
    font-family: "Cabin Sketch", sans-serif;
    text-align: center;
    color: #fff;
    background-color: rgba(108, 78, 49, .9);
    width: 100%;
}

.background {
    background-color: rgba(108, 78, 49, .9);
    color: #fff;
}

.no-bg,
.no-bg>a {
    background: unset;
}

/* -------------------- Header  -------------------- */

main {
    margin-top: 100px;
}

.navbar-brand {
    font-size: 1.5em;
}

.navbar-brand,
.nav-link,
.fa-solid {
    font-family: "Cabin Sketch", sans-serif;
    color: #fff;
}

#side-buttons {
    position: absolute;
    right: 0;
    top: 12px;
}

#searchbox {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#current_product_count {
    left: 60% !important;
}

/* -------------------- Homepage  -------------------- */

@font-face {
    font-family: 'Summer Vibes';
    src: url('summer-vibes.otf');
}

figure>img {
    width: 100%;
    height: 100%;
}

figure>h2,
.carousel-item>h2 {
    font-family: "Cabin Sketch", sans-serif;
    color: #fff;
    background-color: #000;
    text-align: center;
    width: 93%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#about-text {
    background-color: unset;
}

#seasonal-text {
    background-color: unset;
    font-family: "Summer Vibes", sans-serif;
}

#gift-text {
    width: 100%;
    background-color: #95DDD7;
    color: #F615AC;
    font-family: "Happy Monkey", sans-serif;
}

#ribbon {
    background-color: #95DDD7;
    color: #95DDD7;
    width: 90%;
    position: absolute;
    top: 100%;
    left: 0%;
    rotate: 90deg;
    transform: translate(-50%, -50%);
}


/* -------------------- Products  -------------------- */

#filter {
    background-color: rgba(108, 78, 49, .9);
}

.card {
    max-height: 80vh;
    overflow: scroll;
}

.submit-btn {
    font-family: "Cabin Sketch", sans-serif;
    font-size: 1.5em;
    color: #fff;
    width: 100%;
    background: #000;
}

.sale-text {
    color: rgb(255 183 190);
}

.btn:disabled {
    border: transparent;
}
/* -------------------- Cart  -------------------- */

#checkout-btn {
    font-family: "Cabin Sketch", sans-serif;
    color: #fff;
    width: 100%;
}

#cart-quantity {
    min-width: 30vw;
}

/* -------------------- Footer  -------------------- */

#footer {
    background-color: #000;
    padding-bottom: 30px;
}

footer a {
    color: #FFF;
}

.footer-links {
    list-style: none;
    font-size: 0.75em;
}

.social-links a {
    margin: 0 5px;
}

/* ------------------------------------------------ Tablet Styles ------------------------------------------------ */

@media(min-width: 768px) {

    table {
        table-layout: fixed;
    }

    .img-fluid {
        max-width: 70%;
    }

    #searchbox {
        margin-top: .75rem;
        margin-bottom: 0;
        width: 25%;
        position: absolute;
        top: 0;
        right: 8vw;
    }
}

/* ------------------------------------------------ Desktop Styles ------------------------------------------------ */

@media(min-width: 992px) {}