{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
  <h2 class="heading">404 Error - Page Not Found</h2>
  <div class="col-12 col-lg-6 offset-lg-3 mt-2 py-4 background rounded center">
    <span><i class="fa-solid fa-fill-drip fa-2xl" style="color: #ffffff;"></i></span>
    <h4 class="text-white mt-4 no-bg heading">Click below to head back to the homepage!</h4>
  </div>
  <div class="col-12 center mt-4">
    <a href="{% url 'home' %}" class="btn btn-lg background homepage-btn">
      <span class="heading no-bg">Home</span>
  </a>
  </div>
</div>
{% endblock %}