{% extends 'base.html' %}
{% load static %}
{% load ratings %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
  {% if sort %}
  <h2 class="heading my-2">{{ sort|title }} </h2>
  {% elif search %}
  <h2 class="heading my-2"><a href="{% url 'products' %}" class="heading">All Products</a></h2>
  <h2 class="heading my-2">Results for '{{ search }}'</h2>
  {% else %}
  <h2 class="heading my-2">All Products</h2>
  {% endif %}
  <div class="row my-2">
    <div class="col-6 col-md-2 me-auto">
      <button class="btn dropdown-toggle my-2 heading" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filter
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}?sort=coffee">Coffee</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}?sort=equipment">Equipment</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}?sort=single">Single Origin</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}?sort=blend">Blend</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}?sort=sale">Sale</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}?sort=bundle">Bundles</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container g-0">
  <div class="row mx-2 justify-content-center">
    {% if products|length == 0 %}
    <h4 class="heading w-50">No products found!</h4>
    {% else %}
      {% for product in products %}
        {% if product.stock > 0 %}
          <div class="col-12 col-md-6 col-lg-3 my-2">
            <div class="card">
              <img src="/media/{{ product.image }}" class="card-img-top" alt="Product Image">
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                {% if product.sale %}
                <p class="card-subtitle"><span class="strike">£{{ product.price }}</span><span class="text-danger ps-2">£{{ product.get_sale_price }} - Sale!</span></p>
                {% else %}
                <p class="card-subtitle">£{{ product.price }}</p>
                {% endif %}
                {% ratings product read_only=True icon_height=16 icon_width=16 %}
                <p class="card-text">{{ product.description }}</p>
                <a class="stretched-link" href="{% url 'product_details' product.id %}"></a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% endblock %}