<div class="toast custom-toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header background" data-bs-theme="dark">
        <h3 class="my-auto ms-3 heading no-bg">Success!</h3>
        <button type="button" class="btn-close mx-0" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body background">
        <div class="row">
            <div class="col">
                {{ message }}
                <a href="{% url 'cart' %}" id="view-cart-btn" class="btn bg-success my-2">View Cart</a>
            </div>
        </div>
    </div>
</div>