{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row center">
    <h2 class="heading">Community Posts</h2>
    <a href="{% url 'create_post' %}" class="btn btn-success post-btn ms-auto mt-2">Create a Post +</a>
  </div>

  {% for post in page_obj %}
  <div class="row my-4 align-items-center">
    {% if post.image %}
    <div class="col-12 col-lg-5 offset-lg-1 g-0 text-lg-end  mx-lg-2 post-image">
      <img src="{{ MEDIA_URL }}{{ post.image }}" class="img-fluid rounded-top" alt="Post Image">
    </div>
    <div class="col-12 col-lg-4 g-0 position-relative bg-white single-post mx-lg-2 rounded">
      <h4 class="post-title py-2">{{ post.title }}</h4>
      <p class="text-muted m-0">{{ post.user }} on {{ post.date }}</p>
      {% if post.product %}
      <a href="{% url 'product_details' post.product.id %}">{{ post.product.name }}</a>
      {% endif %}
      <p class="my-2">{{ post.content }}</p>
      {% if request.user == post.user %}
      <a href="{% url 'update_post' post.id %}" class="mt-1 float-start update-link">Update Post</a>
      <a class="mt-1 float-end remove-item text-danger position-absolute bottom-0 end-0" data-bs-toggle="modal"
        data-bs-target="#delete-{{ post.id }}">Delete Post</a>
      {% endif %}
    </div>
    {% else %}
    <div class="col-12 col-lg-6 position-relative offset-lg-3 g-0 bg-white single-post rounded">
      <h4 class="post-title py-2 rounded-top">{{ post.title }}</h4>
      <p class="text-muted m-0">{{ post.user }} on {{ post.date }}</p>
      {% if post.product %}
      <a href="{% url 'product_details' post.product %}">{{ post.product.name }}</a>
      {% endif %}
      <p class="my-2">{{ post.content }}</p>
      {% if request.user == post.user %}
      <a href="{% url 'update_post' post.id %}" class="mt-1 float-start update-link">Update Post</a>
      <a class="mt-1 float-end remove-item text-danger position-absolute bottom-0 end-0" data-bs-toggle="modal"
        data-bs-target="#delete-{{ post.id }}">Delete Post</a>
      {% endif %}
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>

<!-- Pagination template taken from django documentation -->
<div class="row center background text-white my-4">
  <div class="pagination">
    <span class="step-links m-auto p-2">
      {% if page_obj.has_previous %}
      <a href="{% url 'posts' %}?page=1">&laquo; First</a>
      <a href="{% url 'posts' %}?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      <span class="current">
        {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
      <a href="{% url 'posts' %}?page={{ page_obj.next_page_number }}">Next</a>
      <a href="{% url 'posts' %}?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>

<!-- Modal template taken from Bootstrap 5 documentation -->
{% for post in page_obj %}
<div class="modal fade" id="delete-{{ post.id }}" tabindex="-1" aria-labelledby="delete-{{ post.id }}-label"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content background">
      <div class="modal-header" data-bs-theme="dark">
        <h1 class="modal-title fs-5" id="delete-{{ post.id }}-label">Delete Post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this post? This cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete Post</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}