{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <h2 class="heading">Community Posts</h2>
  </div>
</div>

<div class="container community-posts">
  {% for post in page_obj %}
  <div class="row">
    {% if post.image %}
    <div class="col-12 col-lg-6 g-0 mt-2">
      <img src="/media/{{ post.image }}" class="img-fluid rounded-top" alt="Post Image">
    </div>
    <div class="col-12 co-lg-6 g-0 bg-white single-post rounded">
      <h4 class="post-title py-2">{{ post.title }}</h4>
      <p class="text-muted">{{ post.user }} on {{ post.date }}</p>
      {% if post.product %}
      <a href="{% url 'product_details' post.product %}">{{ post.product.name }}</a>
      {% endif %}
      <p>{{ post.content }}</p>
    </div>
    {% else %}
    <div class="col-12">
      <h4>{{ post.title }}</h4>
      <p class="text-muted">{{ post.user }} on {{ post.date }}</p>
      {% if post.product %}
      <p>With SouthRoast's <a href="{% url 'product_details' post.product %}">{{ post.product.name }}</a></p>
      {% endif %}
      <p>{{ post.content }}</p>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>

<!-- Pagination template taken from django documentation -->
<div class="container my-4">
  <div class="row center background text-white">
    <div class="pagination">
      <span class="step-links m-auto p-2">
        {% if page_obj.has_previous %}
        <a href="{% url 'posts' %}?page=1">&laquo; First</a>
        <a href="{% url 'posts' %}?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
          {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
        <a href="{% url 'posts' %}?page={{ page_obj.next_page_number }}">Next</a>
        <a href="{% url 'posts' %}?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
      </span>
    </div>
  </div>
</div>
{% endblock %}